<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center">
                <h5>Acesso ao Sistema</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <form class="form" role="form" ng-submit="vm.login($event)">
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" id="username"
                                   placeholder="Usuário" ng-model="vm.username">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control" id="password"
                                   placeholder="Senha"
                                   ng-model="vm.password">
                        </div>
                        <button type="submit" class="btn btn-info block full-width m-b">
                            Entrar
                        </button>
                    </form>
                    
                    <div class="form-group text-center m-t-md">
                        <a href="#" ng-click="vm.requestResetPassword()">
                            <small>Esqueceu a senha?</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

