<div ng-cloak ng-switch="vm.isAuthenticated()">
    <div class="row" ng-switch-when="false">
        <div class="col-md-12">
            <div class="alert alert-warning"
                 data-translate="global.messages.info.authenticated" translate-compile>
                If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the
                default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user"
                and password="user").
            </div>

            <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register"
                 translate-compile>
                You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
            </div>
        </div>
    </div>
    <div class="row" ng-switch-when="true">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    Sua Lista de Chamados
                    <div class="ibox-tools">
                        <a ui-sref="new-chamado" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm">Novo Chamado</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <p>
                                Listando todos os chamados
                                <span ng-show="vm.situacao">
                            com a situacao de
                            <span class="font-bold text-navy"
                                  data-translate="{{'chamadosApp.SituacaoChamado.' + vm.situacao}}">{{vm.situacao}}</span>
                        </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="jh-table table table-striped">
                                    <tbody>
                                    <tr ng-repeat="chamado in vm.chamados track by chamado.id">
                                        <td>
                                            {{chamado.ordem}}
                                        </td>
                                        <td class="issue-info">
                                            <a ui-sref="edit-chamado({id:chamado.id})">
                                                #{{chamado.id}}
                                            </a>
                                            <small>
                                                {{chamado.titulo}}
                                            </small>
                                        </td>
                                        <td class="issue-info">
                                            {{chamado.solicitante.firstName}}
                                            <small>
                                                {{chamado.responsavel.firstName}}
                                            </small>
                                        </td>
                                        <td>{{chamado.criadoEm | date:'mediumDate'}}</td>
                                        <td>
                                            <i ng-if="chamado.tempoEstimado" class="fa fa-clock-o"></i>
                                            {{chamado.tempoEstimado}}
                                        </td>
                                        <td>
                                            {{chamado.modulo.descricao}}
                                        </td>
                                        <td ng-show="!vm.situacao">
                                            <span
                                                data-translate="{{'chamadosApp.SituacaoChamado.' + chamado.situacao}}">{{chamado.situacao}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="small label label-{{vm.getCorPorTipo(chamado.tipoChamado)}}">
                                            <span data-translate="{{'chamadosApp.TipoChamado.' + chamado.tipoChamado}}">{{chamado.tipoChamado}}</span>
                                           </span>
                                        </td>
                                        <td class="text-right">
                                            <button type="submit"
                                                    ui-sref="edit-chamado({id:chamado.id})"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-sm-down">Ver</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <jhi-item-count page="vm.page" total="vm.queryCount"
                                                items-per-page="vm.itemsPerPage"></jhi-item-count>
                                <uib-pagination class="pagination-sm" total-items="vm.totalItems"
                                                items-per-page="vm.itemsPerPage"
                                                ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Rejeição de Chamado</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="alert alert-warning">Tem certeza que deseja rejeitar esse chamado?</div>
        <label class="control-label" for="field_conteudo">Motivo</label>
        <textarea type="text" class="form-control" name="conteudo" id="field_conteudo"
                  required ng-minlength="2" ng-maxlength="3000"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancelar</button>
        <button class="btn btn-danger" type="button" ng-click="vm.ok()">
            <i class="glyphicon glyphicon-warning-sign"></i>
            Não foi cumprido
        </button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
            <i class="glyphicon glyphicon-console"></i>
            Solciitar Melhorias
        </button>
    </div>
</script>
