<div>
    <h2 data-translate="chamadosApp.chamado.home.title">Chamados</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chamado.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="chamadosApp.chamado.home.createLabel">
                        Create new Chamado
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titulo"><span data-translate="chamadosApp.chamado.titulo">Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="conteudo"><span data-translate="chamadosApp.chamado.conteudo">Conteudo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoChamado"><span data-translate="chamadosApp.chamado.tipoChamado">Tipo Chamado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="criadoEm"><span data-translate="chamadosApp.chamado.criadoEm">Criado Em</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prazo"><span data-translate="chamadosApp.chamado.prazo">Prazo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ordem"><span data-translate="chamadosApp.chamado.ordem">Ordem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="solicitante.login"><span data-translate="chamadosApp.chamado.solicitante">Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="responsavel.login"><span data-translate="chamadosApp.chamado.responsavel">Responsavel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.nome"><span data-translate="chamadosApp.chamado.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chamado in vm.chamados track by chamado.id">
                    <td><a ui-sref="chamado-detail({id:chamado.id})">{{chamado.id}}</a></td>
                    <td>{{chamado.titulo}}</td>
                    <td>{{chamado.conteudo}}</td>
                    <td data-translate="{{'chamadosApp.TipoChamado.' + chamado.tipoChamado}}">{{chamado.tipoChamado}}</td>
                        <td>{{chamado.criadoEm | date:'mediumDate'}}</td>
                        <td>{{chamado.prazo | date:'mediumDate'}}</td>
                    <td>{{chamado.ordem}}</td>
                    <td>
                        {{chamado.solicitante.login}}
                    </td>
                    <td>
                        {{chamado.responsavel.login}}
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:chamado.cliente.id})">{{chamado.cliente.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chamado-detail({id:chamado.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chamado.edit({id:chamado.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chamado.delete({id:chamado.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
